@import url('./null.css');
@import url('./fonts.css');
@import url('./variables.css');

body {
  background: var(--color-bg);
  font-family: var(--font-family);
  color: var(--color-text);
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}