@import url('./null.css');
@import url('./fonts.css');
@import url('./variables.css');

body {
  background: var(--color-bg);
  font-family: var(--font-family);
  color: var(--color-text);
  overflow-x: hidden;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}