.button {
    position: relative;
}
.button > img {
    position: absolute;
    top: 50%;
    right: 0.9375rem;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform .1s;
}
.button:active > img {
    transform: translateY(calc(-50% + 2px));
}