.container {
    max-width: 90rem; /* 1440px */
    width: 100%;
    height: 100%;
    margin-inline: auto;
    padding-inline: clamp(1rem, 6vw, 14.375rem);
}
@media (min-width: 48rem) {
    .container {
        padding-inline: clamp(1rem, 10vw, 14.375rem);
    }
}