.card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: var(--padding-card);
    border-radius: 0.4375rem;
    border: 1px solid var(--color-line);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
}
.card > h3 {
    padding-right: 3rem;
}
.row {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}
.soon {
    position: absolute;
    top: 0.9375rem;
    right: 0.9375rem;
    background: var(--color-main);
    padding: 0.25rem 0.3125rem;
    border-radius: 0.625rem;
}