.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2.3rem;
    row-gap: 0.8rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.progress {
    text-align: center;
}