button {
    cursor: pointer;
    transition: transform .1s ease, background .3s ease, box-shadow .1s ease; 
}
.color-primary {
    background: var(--color-main);
    box-shadow: 0 0.25rem 0 0 var(--color-main-shadow);
}
.color-secondary {
    background: var(--color-bg);
    border: 0.125rem solid var(--color-line);
    box-shadow: 0 0.25rem 0 0 var(--color-line);
}

.px-sm {
    padding-inline: 1.25rem;
}
.px-md {
    padding-inline: 2.5rem;
}

.py-sm {
    padding-block: 0.6875rem;
}
.py-md {
    padding-block: 0.9375rem;
}

.borderRad-sm {
    border-radius: 0.75rem;
}
.borderRad-md {
    border-radius: 1rem;
}
/* effects */
.color-primary:hover  {
    background: var(--color-main-hover);
}
.color-secondary:hover  {
    background: var(--color-bg-hover);
}
button:active {
    transform: translateY(2px);
}
.color-primary:active  {
    box-shadow: 0 0.125rem 0 0 var(--color-main-shadow);
}
.color-secondary:active  {
    box-shadow: 0 0.1rem 0 0 var(--color-line);
}