.button {
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: transform .1s ease, background .3s ease, box-shadow .1s ease; 
}

.color-primary {
    background: var(--color-main);
    box-shadow: var(--bshadow-primary)
}
.color-secondary {
    background: var(--color-bg);
    border: 0.125rem solid var(--color-line);
    box-shadow: var(--bshadow-secondary)
}

.px-sm {
    padding-inline: 1.25rem;
}
.px-md {
    padding-inline: 2.5rem;
}

.py-sm {
    padding-block: 0.6875rem;
}
.py-md {
    padding-block: 0.9375rem;
}

.borderRad-sm {
    border-radius: var(--brad-sm);
}
.borderRad-md {
    border-radius: var(--brad-md);
}
/* effects */
.color-primary:hover  {
    background: var(--color-main-hover);
}
.color-secondary:hover  {
    background: var(--color-bg-hover);
}
.button:active {
    transform: translateY(2px);
}
.color-primary:active  {
    box-shadow: var(--bshadow-primary-active)
}
.color-secondary:active  {
    box-shadow: var(--bshadow-secondary-active)
}