button {
    transition: transform .3s ease, background .3s ease;
    cursor: pointer;
}
.color-primary {
    background: var(--color-main);
    box-shadow: 0 0.25rem 0 0 var(--color-main-shadow);
}
.color-secondary {
    background: var(--color-bg);
    border: 0.125rem solid var(--color-line);
    box-shadow: 0 0.25rem 0 0 var(--color-line);
}

.px-sm {
    padding-inline: 1.25rem;
}
.px-md {
    padding-inline: 2.5rem;
}

.py-sm {
    padding-block: 0.6875rem;
}
.py-md {
    padding-block: 0.9375rem;
}

.borderRad-sm {
    border-radius: 0.75rem;
}
.borderRad-md {
    border-radius: 1rem;
}