.size-sm {
  font-size: clamp(0.75rem, 2.5vw, 0.8125rem);
}

.size-md {
  font-size: clamp(0.875rem, 3vw, 1rem);
}

.size-lg {
  font-size: clamp(1rem, 3.5vw, 1.125rem);
}

.size-xl {
  font-size: clamp(1.125rem, 4vw, 1.375rem);
}

.size-xxl {
  font-size: clamp(1.25rem, 5vw, 1.75rem);
}
/* weight */
.weight-regular {
  font-weight: 400;
}
.weight-medium {
  font-weight: 500;
}
.weight-bold {
  font-weight: 700;
}

/* colors */
.color-primary {
  color: var(--color-main);
}
.color-light {
  color: var(--color-text-light);
}
.color-darkblue {
  color: var(--color-text-dark-blue);
}
.color-title {
    color: var(--color-text)
}
.color-code {
    color: var(--color-code)
}
.color-main {
    color: var(--color-text-main);
}
.color-placeholder {
    color: var(--color-text-placeholder);
}
.color-input {
    color: var(--color-input-text);
}
.color-success {
    color: var(--color-success-dark);
}
.color-wrong {
    color: var(--color-wrong-dark);
}
.color-white {
  color: #ffffff;
}
.uppercase {
  text-transform: uppercase;
}