.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    margin-bottom: 2rem;
}
.col {
    display: flex;
    flex-direction: column;
}

@media (max-width: 60.5rem) {
    .row {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
