.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
    margin-bottom: 2rem;
}

.code {
    border: 1px solid var(--color-line);
    border-radius: 0.75rem;
    overflow: hidden;
    background: var(--color-bg-code);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6875rem;
}

.code > pre {
    margin: 0;
    padding: 2.2rem 1.5rem;
}

@media (max-width: 60.5rem) {
    .row {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}
