.header {
    padding-block: 1rem;
    border-bottom: 1px solid var(--color-line);
}
.content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 1.3125rem;
}
.buttons {
    display: none;
    align-items: center;
    column-gap: 0.8125rem;
}
@media (min-width: 40rem) {
    .buttons {
        display: flex;
    }
}