.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: clamp(0.4rem, 2vw, 1.125rem) clamp(0.5rem, 2vw, 1.25rem);
    border-radius: 50%;
    box-shadow: 
        0 3px 0 0 #e3dddd,
        0 1px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: clamp(6.625rem, 15vw, 7.372rem);
    left: clamp(1.5rem, 5vw, 2.1875rem);
    z-index: 2;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    outline-color: transparent;
    backdrop-filter: blur(1px);
    overflow: visible;
}

.button:hover {
    transform: translateY(-3px);
    border-color: var(--color-main, #5bc6f8);
}

.button:active {
    transform: translateY(2px);
}

.button > img {
    transition: transform 0.3s ease;
}
.button:hover > img {
    transform: translateX(-2px);
}
.button:focus-within {
    outline-color: var(--color-main);
}